@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
@import "@blueprintjs/datetime2/lib/css/blueprint-datetime2.css";

* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: monospace;
    font-variant-ligatures: common-ligatures;
}

body,
#root {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.main {
    height: 100%;
    width: 100%;
}

.container {
    padding: 20px;
    overflow: auto;
}

.mar-top {
    margin-top: 20px;
}

.mar-top-b {
    margin-top: 40px;
}

.container>.title {
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0px;
    min-width: 600px;
}

.nav-group {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.nav>.title {
    padding-right: 50px;
}

span.nav-link {
    cursor: pointer;
}

span.nav-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

span.active {
    font-weight: bold;
}

hr.vertical {
    width: 100%;
    height: 0.2px;
    background-color: black;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.gap-10 {
    gap: 10px;
}

.panel-1,
.panel-2 {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.form-label {
    padding-right: 10px;
}

.module .add-field {
    display: flex;
    width: 100%;
}

.module .add-field-btn {
    height: 22px;
}

.module .select {
    height: 22px;
    width: 200px;
    margin-right: 10px;
}

table.bp5-html-table>thead>tr>th {
    padding-left: 0px !important;
}

td {
    padding-left: 0px !important;
}

table.mb-table {
    padding-top: 20px;
    width: 100%;
    min-width: 680px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

form>div>label {
    display: block;
    width: 100px;
}


input {
    width: 100%;
}

input#required {
    display: flex;
    justify-content: start;
    position: relative;
    top: 3px;
    margin: 0px;
}

.notes {
    min-width: 300px;
    height: 100%;
}

/* .note-editor {
    min-height: 500px;
} */

.rmd {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.rmd img {
    width: 100%;
}

.rmd li {
    line-height: 1.7;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
    text-align: center;
}

code.inline {
    color: oklch(0.444 0.177 26.899);
    background-color: oklch(0.885 0.062 18.334);
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

p.md {
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote {
    background-color: oklch(0.938 0.127 124.321);
    color: oklch(0.274 0.072 132.109);
    padding: 10px;
    padding-left: 35px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 10px;

}

blockquote>p {
    margin: 0px;
}

div.ru {
    width: 20px;
    height: 100%;
}

table.rmd-table {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.task-list-item>input {
    width: 20px;
}

table.rmd-table td {
    padding-left: 11px !important;
}

table.rmd-table>thead>tr>th {
    padding-left: 11px !important;
}

.account-nav {
    display: flex;
    gap: 10px;
}

.db {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.db-grid {
    margin-top: 20px;
    gap: 20px !important;
}

.db-grid-item {
    break-inside: avoid;
    margin-bottom: 20px;
    display: inline-block;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 20px;
}

.db-grid-item>img {
    width: 100%;
}

.db-tags {
    /* gap: 10px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    /* or 8px, 12px etc */
}